body {
    background: url(images/stock-ticker-board.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

main {
    font-family: 'Roboto', sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.flex-container li {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 3px;
}

.flex-container li button {
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    font-size: 10px;
}

.alert alert-warning {
    display: false;
}
