html {
    height: 100%;
}

body {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url(images/stock-ticker-board.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'News Cycle', sans-serif;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

.demo-instr {
    font-size: .75em;
    font-style: italic;
    color: orangered;
    margin: 5px auto 25px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    background-color: white;
    padding: 0 0 35px;
    min-height: 600px;
    border-radius: 5px;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px 50px 35px;
    min-width: 600px;
    max-width: 90%;
    min-height: 600px;
    border-radius: 5px;
}

.flex-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    min-height: 600px;
    background-color: white;
    padding: 0 0 35px;
    border-radius: 5px;
}

.jumbotron {
    margin: 25px 25px 0;
    padding: 0 35px 15px;
    background-color: white;
    min-width: 350px;
    border-bottom: 1px solid #ddd;
}

#jumbotron-home {
    margin: 50px 25px 0 25px;
    padding: 0 0 50px;
}

.features-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px 25px;
    background: white;
    text-align: center;
}

.description-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 15px 0;
    max-width: 200px;
    min-width: 161px;
}

.glyphicon {
    font-size: 30px;
}

.demo-user {
    font-size: .75em;
    font-style: italic;
    color: orangered;
    margin: 8px;
    text-align: center;
}

.fa-sign-out {
    float: right;
    line-height: 1.428571429;
    padding-left: 5px;
}

.fa-times {
    text-align: middle;
    float: right;
    line-height: 1.428571429;
    padding-left: 5px;
    color: red;
}

.btn-default {
    width: 150px;
    height: 70px;
    font-size: 1.2em;
    line-height: 56px;
    margin: 0 5px;
}

a {
    color: #428bca;
}

th {
    font-weight: bold;
    text-align: center;
}

td {
    vertical-align: middle !important;
    text-align: center;
    padding: 3px;
}

form {
    margin: 0 auto 5px;
    text-align: center;
    max-width: 300px;
}

#form-button {
    background-color: #428bca;
    color: white;
    font-size: .8em;
    line-height: 20px;
    height: 35px;
    width: 100px;
    margin: 27px auto 0;
}

input {
    text-align: center;
}

placeholder {
    text-align: center;
}

#js-stock-search {
    margin: auto;
    text-align: center;
    font-size: 18px;
    width: 50px;
    padding: 0px;
    -webkit-appearance: none;
}

#js-user {
    font-weight: bold;
    padding-top: 15px;
}

#js-logout {
    margin-bottom: 5px;
}

.panel-footer {
    margin: 0 25px 20px;
    padding: 15px 0 5px;
    text-align: center;
    background-color: white;
    border: 0;
}

.panel-footer-2 {
    margin: 0 25px;
    text-align: center;
    background-color: white;
}

#results-container {
    max-width: 600px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

#no-margin-border {
    border: 0;
}

#results {
    margin-top: 10px;
    display: none;
}

#view-stocks-button {
    height: 50px;
    padding: 5px;
    line-height: 35px;
    font-size: 1.25em;
}

#hide-stocks-button {
    height: 50px;
    padding: 5px;
    line-height: 35px;
    font-size: 1.25em;
    margin: 10px 0 25px;
    min-width: 160px;
}

#save-stocks-button {
    display: none;
    width: 160px;
    font-size: .9em;
    height: 50px;
    align-self: center;
    margin-top: 15px;
    line-height: 36px;
}

#saved-stocks {
    display: none;
    margin: 25px 0;
    padding: 15px 0 0;
    font-style: italic;
    border: #428bca 1px solid;
    border-radius: 5px;
    min-width: 450px;
}

#saved-stocks-empty {
    display: none;
    padding: 10px;
}

#confirm-user-delete {
    display: none;
}

#do-user-delete {
    display: none;
}

#cancel-user-delete {
    display: none;
}

#delete-stock-button {
    padding: 0px;
    color: red;
    margin: 0;
}

.alert {
    display: none;
    margin-top: 10px;
    margin-bottom: none !important;
    font-size: .8em;
    line-height: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;

}

.container-fluid {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 5px;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
}

#logout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete-buttons {
    text-align: right;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 35px;
    margin: 0 0 5px;
}

h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

hr {
    border-top: 1px solid #428bca;
    width: 80%;
    margin: 25px auto;
}

@media (max-width: 600px) {
    body {
        display: block;
    }
    h1 {
        font-size: 48px;
    }
    .btn-default {
        width: 100px;
        height: 50px;
        font-size: 1em;
        line-height: 35px;
        margin: 0 2px;
    }
    #save-stocks-button {
        font-size: .9em;
        height: 45px;
        line-height: 22px;
    }
    #view-stocks-button {
        width: 160px;
        height: 45px;
        padding: 5px;
        line-height: 5px;
        font-size: 1.3em;
        margin-bottom: 15px;
    }
    .lead {
        margin-bottom: 5px;
    }
    .demo-instr {
        margin: 5px auto 25px;
        font-size: .6em
    }
    .demo-user {
        font-size: .6em
    }
    .flex-container {
        padding: 0 0 15px;
        min-width: 375px;
        /*max-width: 375px;*/
        margin: 20px auto;
        min-height: 550px;
    }
    .flex-container-2 {
        padding: 15px;
        min-width: 375px;
        align-self: center;
        margin: 100px auto;
        min-height: 550px;
    }
    .flex-container-3 {
        min-width: 375px;
        /*max-width: 375px;*/
        margin: 10% auto;
        min-height: 550px;
    }
    .container-fluid {
        min-width: 100%;
    }
    .description-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    #jumbotron-home {
        margin: 15px 15px 0;
        padding: 0 0 30px;
    }
    .features-container {
        margin: 0 15px 15px;
    }
    #logout-container {
        width: 87%;
    }
    #delete-container {
        width: 87%;
    }
    #results {
        font-size: .9em;
    }
    #saved-stocks {
        display: none;
        margin: 15px 0;
        padding: 15px 0 0;
        min-width: 360px;
    }
    .panel-footer {
        padding: 15px 0 7px;
    }
    .panel-footer-2 {
        margin: 0 2px;
        padding: 0 0 7px;
    }
}
